body{
background:#f2f2f2;
font-family:Helvetica;
}

nav{
background:#444;
color:white;
padding:15px;
}

.section{
background:white;
padding:40px;
margin:30px auto;
max-width:900px;
}

h1{
border-bottom:3px solid #007acc;
padding-bottom:10px;
}
